
.new-span {
  width: 35px;
  height: 35px;
  background-color: #8ed1b7;
  color: #fff;
  position: absolute;
  left: 52px;
  top: -120px;
  display: flex;
  z-index: 5;
  text-transform: uppercase;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.hot-span {
  width: 35px;
  height: 35px;
  background-color: #e7a8c6;
  color: #fff;
  position: absolute;
  left: 52px;
  top: -120px;
  display: flex;
  z-index: 5;
  font-size: 12px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.header-search {
  display: flex;
  align-items: center;
  align-items: center;
}
.header-search span {
  color: var(--secondary-color-p);
  text-transform: uppercase;
  margin-left: 10px;
  font-size: 12px;
  letter-spacing: 2px;
}
.icon-header-sp {
  width: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: 5px;
  margin-top: 3px;
}
.icon-header-sp span {
  background-color: #333;
  height: 2px;
  margin-bottom: 4px
}
.icon-header-sp span:first-child  {
  width: 100%;
}
.icon-header-sp span:nth-child(2) {
  width: 100%;
}
.icon-header-sp span:last-child  {
  width: 70%; 
}
.icon-header-sp:hover span:first-child,
.icon-header-sp:hover span:nth-child(2),
.icon-header-sp:hover  span:last-child {
  width: 100%;
  background-color:var(--main-color);
}